@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

header {
  margin: 0px 20px;
}

a {
  margin: 0px;
  text-decoration: none;
  color: inherit;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav a {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex;
  text-align: center;
}

.nav__menu__bar {
  list-style: none;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu__bar__img {
  width: 50px;
}
